.meme {
  width: auto;
  height: 500px;
}

#memetest {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

#submit {
  float: right;
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

#test {
  padding: 20px;
}

.imagebox {
  box-shadow: 5px 10px 8px grey;
  padding: 20px;
  border-radius: 10px;
}